.boton{
    background-color: aqua;
}

.boton::after{
    content: "Pasa por encima";
}

.boton:hover{
    color: white;
    background-color: green;
}

.boton:hover::after{
    content: "Hecho!";
}